.Table-verticalFilter {
  width: calc(100% - var(--spacing-9));
}

.Table-filters {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
}

.Table-filters--vertical {
  flex-direction: column;
  width: var(--spacing-9);
}

.Table-filters--scroll {
  overflow: auto;
  position: relative;
}

.Table-filters--scroll::-webkit-scrollbar,
.Header-filters-row::-webkit-scrollbar 
{
  display: none;
}

.Header-wrapper {
  max-width: 400px;
}

.FilterLabel-pinnedIcon {
  display: none;
}

.FilterLabel:hover .FilterLabel-pinnedIcon {
  display: inline;
}

.Header-filters-row {
  max-width: calc(100vw - 600px);
  overflow-x: scroll;
  display: flex;
}
