.Table-verticalFilter {
  width: calc(100% - var(--spacing-9));
}

.Table-filters {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
}

.Table-filters--vertical {
  flex-direction: column;
  width: var(--spacing-9);
}

.Table-filters--scroll {
  overflow: auto;
  position: relative;
}

.Table-filters--scroll::-webkit-scrollbar,
.Header-filters-row::-webkit-scrollbar {
  display: none;
}

.Header-wrapper {
  max-width: 400px;
}

.FilterLabel-pinnedIcon {
  display: none;
}

.FilterLabel:hover .FilterLabel-pinnedIcon {
  display: inline;
}

.Header-filters-row {
  max-width: calc(100vw - 600px);
  overflow-x: scroll;
  display: flex;
}

.Filter-toast {
  left: 16px;
  bottom: 16px;
  z-index: 1;
}

/* Animations */

@keyframes table-card-open {
  from {
    width: 100%;
  }
  to {
    width: calc(100% - 260px);
  }
}

@keyframes table-card-close {
  from {
    width: 80%;
  }
  to {
    width: calc(100% + 260px);
  }
}

@keyframes header-filter-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes slideDown {
  from {
    height: 0px;
  }
  to {
    height: 24px;
  }
}

@keyframes slideUp {
  from {
    height: 24px;
  }
  to {
    height: 0px;
  }
}

@keyframes expand {
  from {
    height: 24px;
  }
  to {
    height: 56px;
  }
}

@keyframes collapsed {
  from {
    height: 56px;
  }
  to {
    height: 24px;
  }
}

.Table-filters--open {
  animation: fadeIn 240ms cubic-bezier(0.4, 0.14, 0.3, 1);
}

.Table-filters--close {
  animation: fadeOut 80ms cubic-bezier(0.4, 0.14, 0.3, 1);
}

.Table-panel--open {
  animation: table-card-open 160ms cubic-bezier(0.2, 0, 0.38, 0.9) forwards;
}

.Table-panel--close {
  animation: table-card-close 160ms cubic-bezier(0.2, 0, 0.38, 0.9) forwards;
}

.Header-filters--hide {
  animation: header-filter-hide 80ms cubic-bezier(0.2, 0, 0.38, 0.9) forwards;
}

.Header-filters--show {
  animation: fadeIn 80ms cubic-bezier(0.2, 0, 0.38, 0.9) forwards;
  opacity: 0;
  animation-delay: 80ms;
}

.Selected-chip--show {
  animation: fadeIn 240ms cubic-bezier(0, 0, 0.38, 0.9) forwards;
  animation-delay: 80ms;
}

@keyframes action-slide-right {
  from {
    opacity: 0;
    /* right: 500px; */
    right: 8px;
  }
  to {
    opacity: 1;
    /* right: 20px; */
    right: 0;
  }
}

@keyframes action-slide-left {
  from {
    opacity: 0;
    /* left: 500px; */
    /* left: 8px; */
    right: 0;
  }
  to {
    opacity: 1;
    /* left: 20px; */
    /* left: 0; */
    right: 8px;
  }
}

.Group-action-slide-right {
  animation: action-slide-right 80ms cubic-bezier(0.2, 0, 0.38, 0.9) forwards;
  opacity: 0;
  /* animation-delay: 80ms; */
}

.Group-action-slide-left {
  animation: action-slide-left 80ms cubic-bezier(0.2, 0, 0.38, 0.9) forwards;
  opacity: 0;
  /* animation-delay: 80ms; */
}

.Selected-chip--hide {
  animation: fadeOut 240ms cubic-bezier(0.2, 0, 1, 0.9) forwards;
}

.Header-wrapper-slideDown {
  animation: slideDown 160ms cubic-bezier(0.2, 0, 0.38, 0.9) forwards;
}

.Header-wrapper-slideUp {
  animation: slideUp 160ms cubic-bezier(0.2, 0, 0.38, 0.9) forwards;
}

.Filter-row--expanded {
  animation: expand 160ms cubic-bezier(0.2, 0, 0.38, 0.9);
}

.Filter-row--collapsed {
  animation: collapsed 160ms cubic-bezier(0.2, 0, 0.38, 0.9);
}

@keyframes slideLeft {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@keyframes slideRight {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}

.Filter-btn-slide--left {
  animation: slideLeft 160ms cubic-bezier(0.2, 0, 0.38, 0.9) forwards;
}

.Filter-btn-slide--right {
  animation: slideRight 120ms cubic-bezier(0.2, 0, 0.38, 0.9) forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.Pin-filter-slide--up {
  animation: slideUp 160ms cubic-bezier(0.2, 0, 0.38, 0.9) forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.Pin-filter-slide--down {
  animation: slideDown 160ms cubic-bezier(0.2, 0, 0.38, 0.9) forwards;
}
